@import url('./__logo/header__logo.css');
@import url('./__lang-links/header__lang-links.css');
@import url('./__lang-link/header__lang-link.css');
@import url('./__lang-link/_active/header__lang-link_active.css');

.header {
    width: 92%;
    display: flex;
    justify-content: space-between;
    margin: 28px auto 56px;
}