/* inter-regular - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./inter/inter-v1-latin_cyrillic-regular.woff2') format('woff2'),
         url('./inter/inter-v1-latin_cyrillic-regular.woff') format('woff');
  }
  /* inter-700 - latin_cyrillic */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('./inter/inter-v1-latin_cyrillic-700.woff2') format('woff2'),
         url('./inter/inter-v1-latin_cyrillic-700.woff') format('woff');
  }
  /* inter-900 - latin_cyrillic */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('./inter/inter-v1-latin_cyrillic-900.woff2') format('woff2'),
         url('./inter/inter-v1-latin_cyrillic-900.woff') format('woff');
  }