@import url('./__article/intro__article.css');
@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');
@import url('./__list-item/intro__list-item.css');


.intro {
    width: 77%;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 94%;
    }
}

@media screen and (max-width: 680px) {
    .intro {
        margin-bottom: 40px;
    }
}