@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__background/cover__background.css');
@import url('./__overlay/cover__overlay.css');

.cover {
    width: 90%;
    margin: 0 auto 92px;
    position: relative;
    background-image: url('../../images/cover-trains.jpg');
    background-size: cover;
    background-position: center;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}