.cover__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover__overlay::after {
    content: '';
    background: #000;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity ease .3s;
}

.cover__overlay:hover::after {
    opacity: .8;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        max-height: 640px;
    }
    .cover__overlay::after {
        max-height: 640px;
    }
}