.lead__caption {
font-weight: normal;
font-size: 10px;
line-height: 1.4;
letter-spacing: 0.15em;
text-transform: uppercase;
align-self: flex-start;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 25px;
    }
}

@media screen and (max-width: 680px) {
    .lead__caption {
        margin-left: 16px;
    }
}