.intro__article {
    width: 70%;
}

@media screen and (max-width: 1024px) {
    .intro__article {
        width: 76%;
    }
}

@media screen and (max-width: 768px) {
    .intro__article {
        width: 100%;
    }
}